<p id="notice"><%= notice %></p>

<div class="home container" id="home">
	<!-- ko if: loaded -->
	<div class='row top'>
		<div class='game-board'>
			<div class='row nobles-container'>
				<ul class='inline-list'>
					<li class='noble'>
						<img class='tile back' data-bind="attr: { src: '/images/misc/noble_tile.jpg' }">
					</li>
				  	<!-- ko foreach: displayedCards.nobles -->
				  	<li class='noble'>
				  		<img class='tile' data-bind='attr: { src: $data.image }' />
				  	</li>
				  	<!-- /ko -->
				</ul>
			</div>
			<div class='row level3'>
				<ul class='inline-list'>
			  		<li class='card-container'>
				 		<img class='card back' data-bind="attr: { src: '/images/misc/level3_card.jpg' }">
					</li>
					<!-- ko foreach: displayedCards.level3 -->
			 		<li class='card-container'>
						<div class='card selection' data-bind='style: { background: "url(" + $data.image + ") 0% 0%/cover" }'>
							<div class='buy button success' data-bind="click: $parent.buyCard, visible: $data.cost">Buy</div>
							<div class='reserve button' data-bind="click: $parent.reserveCard, visible: $data.cost">Reserve</div>
						</div>
					</li>
				  	<!-- /ko -->
			  	</ul>
			</div>
			<div class='row level2'>
				<ul class='inline-list'>
			  		<li class='card-container'>
				 		<img class='card back' data-bind="attr: { src: '/images/misc/level2_card.jpg' }">
					</li>
					<!-- ko foreach: displayedCards.level2 -->
			 		<li class='card-container'>
						<div class='card selection' data-bind='style: { background: "url(" + $data.image + ") 0% 0%/cover" }'>
							<div class='buy button success' data-bind="click: $parent.buyCard, visible: $data.cost">Buy</div>
							<div class='reserve button' data-bind="click: $parent.reserveCard, visible: $data.cost">Reserve</div>
						</div>
					</li>
				  	<!-- /ko -->
			  	</ul>
			</div>
			<div class='row level1'>
			  	<ul class='inline-list'>
			  		<li class='card-container'>
				 		<img class='card back' data-bind="attr: { src: '/images/misc/level1_card.jpg' }">
					</li>
					<!-- ko foreach: displayedCards.level1 -->
			 		<li class='card-container'>
						<div class='card selection' data-bind='style: { background: "url(" + $data.image + ") 0% 0%/cover" }'>
							<div class='buy button success' data-bind="click: $parent.buyCard, visible: $data.cost">Buy</div>
							<div class='reserve button' data-bind="click: $parent.reserveCard, visible: $data.cost">Reserve</div>
						</div>
					</li>
				  	<!-- /ko -->
			  	</ul>
			</div>
			<div class='row chips'>
				<ul class='inline-list'>
			  		<!-- ko foreach: chips -->
			  		<li class='chip-selection-container'>
						<div class='chip selection' data-bind='style: { background: "url(" + $data.image + ") 0% 0%/cover" }, click: $parent.selectChip'>
							<span class='count' data-bind="text: $data.count()"></span>
							<div data-bind='visible: $data.color !== "yellow"' class='select button secondary'>Select</div>
						</div>
			  		</li>
			  		<!-- /ko -->
			  	</ul>
			</div>
		</div>
		<div class='info-section'>
			<div class='row'>
				<div class='medium-3 small-12 columns'>
					<label class='current-player luckiest-guy' data-bind='text: "Player " + (currentPlayer().number + 1)' />
				</div>
				<div class='medium-9 small-12 columns'>
					<span id='notification-area' />
				</div>
			</div>
			<div class='row chip-selection panel'>
				<div class='selected-chips medium-12 columns'>
					<div class='no-selected-chips' data-bind='visible: !selectedChips().length'>
						<h5>No chips selected</h5>
					</div>
					<ul class='inline-list'>
						<!-- ko foreach: selectedChips -->
						<li class='chip selection' data-bind='style: { background: "url(" + $data.image + ") 0% 0%/cover" }, click: $parent.removeChip'>
							<div class='select remove button secondary'>Remove</div>
						</li>
						<!-- /ko -->
					</ul>
				</div>
			</div>
			<div class='row'>
				<div class='button expand success' data-bind='click: takeChips'>Confirm Chip Selection</div>
			</div>

			<div class='inventory'>
				<div class='row player-list'>
					<dl class='player-numbers tabs' data-tabs>
						<!-- ko foreach: players -->
							<dd data-bind='css: { active: $data === $parent.viewedPlayer() }'>
								<a data-bind='text: "Player " + ($data.number + 1) + " (" + $data.points() + ")", css: { "current-player": $data === $parent.currentPlayer() }, click: $parent.viewingPlayer'></a>
							</dd>
						<!-- /ko -->
					</dl>
					<div class='player-info tabs-content panel'>
						<div class='row chip-inventory-container'>
							<ul class='inline-list'>
              				<!-- ko foreach: chips -->
							<li class='chip inventory' data-bind='style: { background: "url(" + $data.image + ") 0% 0%/cover" }, click: $root.selectChip'>
								<span class='count inventory' data-bind="text: viewedPlayer().chips[$data.color]()"></span>
							</li>
							<!-- /ko -->
              				</ul>
						</div>
						<div class='row card-containers' data-bind='with: viewedPlayer'>
              				<ul class='inline-list'>
	  							<li class='card-stack white'>
	  								<!-- ko foreach: purchasedWhiteCards -->
	  								<div class='card inventory' data-bind='style: { background: "url(" + $data.image + ") 0% 0%/cover", position: "relative", top: ($index() * -82).toString() + "px", right: "18px" }'></div>
	  								<!-- /ko -->
	  							</li>
	  							<li class='card-stack blue'>
	  								<!-- ko foreach: purchasedBlueCards -->
	  								<div class='card inventory' data-bind='style: { background: "url(" + $data.image + ") 0% 0%/cover", position: "relative", top: ($index() * -82).toString() + "px", right: "18px" }'></div>
	  								<!-- /ko -->
	  							</li>
	  							<li class='card-stack green'>
	  								<!-- ko foreach: purchasedGreenCards -->
	  								<div class='card inventory' data-bind='style: { background: "url(" + $data.image + ") 0% 0%/cover", position: "relative", top: ($index() * -82).toString() + "px", right: "18px" }'></div>
	  								<!-- /ko -->
	  							</li>
	  							<li class='card-stack red'>
	  								<!-- ko foreach: purchasedRedCards -->
	  								<div class='card inventory' data-bind='style: { background: "url(" + $data.image + ") 0% 0%/cover", position: "relative", top: ($index() * -82).toString() + "px", right: "18px" }'></div>
	  								<!-- /ko -->
	  							</li>
	  							<li class='card-stack brown'>
	  								<!-- ko foreach: purchasedBrownCards -->
	  								<div class='card inventory' data-bind='style: { background: "url(" + $data.image + ") 0% 0%/cover", position: "relative", top: ($index() * -82).toString() + "px", right: "18px" }'></div>
	  								<!-- /ko -->
	  							</li>
	  							<li class='card-stack reserved'>
	  								<!-- ko foreach: reservedCards -->
	  								<div class='reserved card inventory' data-bind='style: { background: "url(" + "/images/misc/level" + $data.level + "_card.jpg) 0% 0%/cover", position: "relative", top: ($index() * -50).toString() + "px", right: "18px" }'>
	  									<div class='reserved-card-purchase selection' data-bind='style: { background: "url(" + $data.image + ") 0% 0%/cover" }'>
	  										<div class='buy button success' data-bind="click: $root.buyReservedCard, visible: $root.viewedPlayer() === $root.currentPlayer()">Buy</div>
										</div>
	  								</div>
	  								<!-- /ko -->
	  							</li>
	                			<li class='card-stack nobles'>
					                <!-- ko foreach: nobleCards -->
					                <div class='noble inventory' data-bind='style: { background: "url(" + $data.image + ")", background-size: "cover"}' />
					                <!-- /ko -->
	                			</li>
              				</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /ko -->
</div>

<!-- <script type='text/html' id='card-template'>
	<li class='card-container'>
		<div class='card selection' data-bind='style: { background: "url(" + $parent.path + $data.image + ")", background-size: "cover" }'>
			<div class='buy button success' data-bind="click: $parent.buyCard">Buy</div>
				<div class='reserve button' data-bind="click: $parent.reserveCard">Reserve</div>
		</div>
	</li>
</script> -->
